
looping in python

In [1]:
#for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
for i in range (1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [8]:
a="abdullah"
for i in a:
    print(i)

a
b
d
u
l
l
a
h

In [14]:
count=0
while count<=10:
    print(count)
    count=count+1

0
1
2
3
4
5
6
7
8
9
10

loop control statements

In [16]:
#break statements
for i in range(10):
    if i == 5:
        break
    print("Loop terminated at i =", i)

Loop terminated at i = 0
Loop terminated at i = 1
Loop terminated at i = 2
Loop terminated at i = 3
Loop terminated at i = 4

In [19]:
for i in range(10):
    if i == 5:
        print("Skipping 5")
        continue
    print(i)

0
1
2
3
4
Skipping 5
6
7
8
9

In [20]:
#pass
for i in range(10):
    if i==3:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
#nested loops
for i in range(3):
    for j in range(2):
        print(f"i is {i} and j is {j}")

i is 0 and j is 0
i is 0 and j is 1
i is 1 and j is 0
i is 1 and j is 1
i is 2 and j is 0
i is 2 and j is 1

In [26]:
#examples 
#calculating the sum of first 10 natural numbers using for loop
sum=0
for i in range (10):
    sum=sum+i
print("the total sum",sum)

the total sum 45