Introduction to tuples

In [1]:
#creating a tuple
tuple=tuple()
print(type(tuple))

<class 'tuple'>

In [1]:
#list can be converted into tuple
# Define a list
my_list = [1, 2, 3, 4, 5]

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Print the original list
print("Original List:", my_list)

# Print the converted tuple
print("Converted Tuple:", my_tuple)

Original List: [1, 2, 3, 4, 5]
Converted Tuple: (1, 2, 3, 4, 5)

In [2]:
mixed_tuple=(1,2,"asad",True)
mixed_tuple

(1, 2, 'asad', True)

In [3]:
#accesing tuple elements 
print(mixed_tuple[0])
print(mixed_tuple[-1])

1
True

In [4]:
#slicing is same as in lists
print(mixed_tuple[0:3])

(1, 2, 'asad')

In [5]:
print(mixed_tuple[::])

(1, 2, 'asad', True)

In [7]:
print(mixed_tuple[::-1])

(True, 'asad', 2, 1)

In [8]:
print(mixed_tuple[::2])

(1, 'asad')

In [10]:
print(my_tuple)
mixed_tuple

(1, 2, 3, 4, 5)

(1, 2, 'asad', True)

In [11]:
#now applying different operations
concetentation=my_tuple+mixed_tuple
print(concetentation)

(1, 2, 3, 4, 5, 1, 2, 'asad', True)

In [12]:
mixed_tuple*3

(1, 2, 'asad', True, 1, 2, 'asad', True, 1, 2, 'asad', True)

In [15]:
#tuples are immutable
#unlike list were we can change elements with the help of indexing we cannot do it in tuples
#if we wanna do it we had to convert the tuple in list and change elements and then convert it back to tuple

In [16]:
my_tuple

(1, 2, 3, 4, 5)

In [17]:
print(my_tuple.count(1))

1

In [18]:
print(my_tuple.index(3))

2

In [19]:
#packing and unpacking tuples
packing=1,"Hello",1.3
print(packing)

(1, 'Hello', 1.3)

In [20]:
#unpacking
a,b,c=packing
print(a)
print(b)
print(c)

1
Hello
1.3

In [21]:
#unpacking with *
numbers=(1,2,3,4,5,6)
a,*b,c=numbers
print(a)
print(b)
print(c)

1
[2, 3, 4, 5]
6

In [22]:
#nested lists and tuples
lst=([1,2,34,4],[4,5,6,7,8],[1,'hello',1.1])
lst[0][0:]

[1, 2, 34, 4]

In [23]:
lst[1][::1]

[4, 5, 6, 7, 8]

In [24]:
#tuple inside a list
lst=([1,2,34,4],[4,5,6,7,8],(1,'hello',1.1))
lst[2][::]

(1, 'hello', 1.1)

In [25]:
#nested tuples
tple=((1,2,3),(4,5,6),("hello","asad","ali"))

In [26]:
tple[0]

(1, 2, 3)

In [27]:
for i in tple:
    for j in i:
        print(j,end=" ")
    print()

1 2 3
4 5 6
hello asad ali