Introduction to sets in python

sets are unordered and they do not allow duplicate elements

In [3]:
#creating
my_set={1,2,3,4,5,6,7,8,9}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [4]:
empty_set=set()
print(type(empty_set))

<class 'set'>

In [7]:
#set operations
my_set.add(10)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
#sets domot allow duplicate elements
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [11]:
my_set.remove(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [12]:
my_set.remove(11)

KeyError: 11

In [13]:
my_set.discard(11)
print(my_set)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [14]:
my_set.pop()
print(my_set)

{2, 3, 4, 5, 6, 8, 9, 10}

In [15]:
my_set.clear()

In [16]:
print(my_set)

set()

In [17]:
#set membership test
my_set={1,2,3,4,5,6,7,8,9}
print(3 in my_set)
print(11 in my_set)

True
False

In [18]:
#mathematical operations
set_1={1,2,3,4}
set_2={5,6,7,8}
union=set_1.union(set_2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
intersection=set_1.intersection(set_2)
print(intersection)

set()

In [24]:
set_1.intersection_update(set_2)
print(set_1)

set()

In [26]:
set_1={1,3,5,9,10}
set_2={2,3,5,6,7,10}
difference=set_1.difference(set_2)
print(difference)

{1, 9}

In [27]:
set_1.symmetric_difference(set_2)

{1, 2, 6, 7, 9}

In [28]:
#methods
set_1={1,2,3}
set_2={3,4,5}
set_1.issubset(set_2)

False

In [30]:
set_1={1,2,3,4,5}
set_2={3,4,5}
set_1.issuperset(set_2)

True